@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Default_JP";
  font-weight: 400;
  src: url("./fonts/Default_JP.woff2") format("woff2"),
    url("./fonts/Default_JP.woff") format("woff");
}
